.page-body {
  background:  url('../assets/giftly.png') center center fixed;
  height: 100%;
  overflow: scroll;
}

.tictactoe-box {
  margin-top: 50%;
  height: 500px;
}

.game-table {
  width: 100%;
  border: 2px solid red;
}

.tic-rows {
  border-bottom: 1px solid black;
  margin: 0;
}

.tic-col {
  border-left: 1px solid black;
  height: 150px;
}

.tic-values {
  line-height: 11;
}
